PORT=5000 #For Local Dev
CLIENT_ORIGIN=frontend-url #For Production
NODE_ENV=development
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/creditsea-lms
JWT_SECRET=replace-with-a-long-random-string
JWT_EXPIRES_IN=7d